.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  color: #f2f4fe;
  background: #ad1fea;
}
